body {
	background-color: #EEEEEE;
}

#spacer {
	padding-top: 7%;
}

header {
	background-color: #303841;
	position: fixed;
	height: 40px;
	width: 100%;
	margin-top:-20px;
	font-family: Verdana;
	font-weight: bold;
	padding-top: 25px;
	color:white;
	padding-bottom: 20px;
	z-index: 5;
}

header #maintext {
	text-align:center;
	font-size:24px;
}

header #userinfo {
	text-align:right;
	font-size:16;
	margin-right: 3%;
}

nav {
	background-color: #3A4750;
	width: 100%;
	height:48px;
	display:flex;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

nav li{
	display: inline;
	padding:5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #000000;
	border-radius: 5px 5px;
	background-color: #00ADB5
}

#title-text {font-family: Futura, Tahoma, sans-serif; font-weight: bold; font-size: 18px}

#parent div{ float:left; word-wrap: break-word; position: relative, z-index: 1; border-radius: 5px}
#first{ text-align:left; width:30%; background-color: #00ADB5;}
#first table.apps {border: 1px solid #276ea5; border-radius: 5px; margin-bottom: 2px; font-size: 13px; table-layout:fixed; background-color: #00dae6; width:100%; word-wrap: break-word; clear:both; border-radius: 10px; margin-bottom: 5%; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
#first table.apps .title-col {width:80px; text-shadow: 1px 1px 1px #fff; font-weight: bold}
#first table.apps .title {text-shadow: 1px 1px 1px #fff; font-weight: bold}
#first table.apps .info {text-shadow: 1px 1px 1px #fff;}
#first .apps img {display: block;
    margin-left: auto;
    margin-right: auto; max-height: 128px; max-width: 128px;}

#second{ width:40%; text-align:left; background-color: #2D83C3;} 
#second table.badge {border: 1px solid #276ea5; border-radius: 5px; margin-bottom: 2px; font-size: 13px; table-layout:fixed; background-color: #6eaddd; width:100%; word-wrap: break-word; clear:both; border-radius: 10px; margin-bottom: 5%; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
#second table.badge .title-col{width: 100px; text-shadow: 1px 1px 1px #fff; font-weight: bold}
#second .badge img{display: block;
    margin-left: auto;
    margin-right: auto; max-height: 128px; max-width: 128px;}
#second table.badge .title {text-shadow: 1px 1px 1px #fff; font-weight: bold}
#second table.badge .info {text-shadow: 1px 1px 1px #fff;}

#third{width:30%; text-align:left; background-color: #00ADB5;}

#badgeform label{    
	display:inline-block;
    width:15%;
}

#badgeform input{
	margin-left: 3%; margin-bottom: 10px;
}

#badgeform textarea{
	margin-left: 3%; margin-bottom: 10px;
}

#badgeform select{
	margin-left: 3%; margin-bottom: 10px;
}

#badgeform .submit{
	margin-left: 18%;
}

.images-wrapper div{float: left; width:50%; word-wrap: break-word; position: relative; z-index:1;}
.images-wrapper #image-display { background-color: #2D83C3; border-radius:10px;}
.images-wrapper #image-display #image-name {color: white; font-family: Futura, Tahoma, sans-serif; padding:5px;}
.images-wrapper #image-display img{height:200px; width:200px;}
.images-wrapper #image-group {width: 100%; display: block; clear: both; border: 1px solid #276ea5; border-radius: 5px; margin-bottom: 2px; border-radius:5px}


/*.issuer-menu {width: 100%; word-wrap: break-word; position: relative; z-index:1;}*/
.issuer-menu div {float: left; width:50%; word-wrap: break-word; position: relative; z-index:1;}
.issuer-menu #issuer-list {background-color: #2D83C3; border-radius:10px;}
.issuer-menu li{padding:5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: white;
	border-radius: 5px;
	margin-right: 20px;
	padding: 5px;
	background-color: #00ADB5}